@import "../../styles/var";
.box {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.btn,
.btn_active {
  display: inline-block;
  color: $primaryColor;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.btn_active {
  background-color: $secondaryBgColor;
  color: $secondaryColor;
}
.btn:hover:not(.btn_active) {
  background-color: #ddd;
}
